html,
body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
  list-style-type: none;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 4fr;
  height: 100vh;
}

.header {
  grid-column: 2 / 3;
  display: grid;
  border: 1px solid black;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 80px 110px;
}

.search-bar {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px;
}

.account {
  grid-column: 2 / 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  margin: 40px;
  margin-right: 100px;
}

.small-icon {
  width: 50px;
  height: 75px;
  clip-path: circle();
}

.greeting {
  display: flex;
  gap: 40px;
  align-items: center;
  padding: 10px 40px 10px 40px;
}

.big-icon {
  width: 100px;
  height: 150px;
  clip-path: circle();
}

.actions {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  margin-right: 100px;
}

.actions button {
  border-radius: 30px;
  padding: 15px 30px;
}

.sidebar {
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  border: 1px solid black;
}

.sidebar-heading {
  font-size: 24px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.nav,
.settings {
  margin: 10px;
}

.nav li,
.settings li {
  padding: 10px;
}

.main {
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  margin: 30px;
}

.section-heading {
  font-size: 18px;
  font-weight: bold;
  margin: 15px;
  margin-left: 0;
}

.title {
  font-size: 16px;
  font-weight: bold;
}

.projects-section {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.cards {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
  background-color: #ffffff;
  color: black;
  height: 200px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 25px;
  box-shadow: 8px 0px 0px grey inset;
}

.announcements-section {
  grid-column: 2 / 3;
}

.announcements,
.profiles {
  background-color: #ffffff;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
  padding: 40px;
}

.announcement {
  background-color: #ffffff;
  color: black;
}

.trending-section {
  grid-column: 2 / 3;
}

.profile {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 10px;
  padding: 5px;
}

.profile-icon {
  grid-row: 1 / 3;
  justify-self: center;
  align-self: center;
}

.tag,
.headliner {
  grid-column: 2 / 3;
  align-content: center;
  justify-items: center;
}
